@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Vazirmatn", sans-serif;
	direction: rtl;
	text-align: right;
}
